name: Raphael HyperOS 3 (K70 Pro Port)
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Runner
        run: |
          sudo apt-get update
          sudo apt-get install -y aria2 zip p7zip-full python3 bc
          chmod -R +x bin/
          chmod +x port.sh

      - name: Start Build
        run: |
          ./port.sh "https://cdnorg.d.miui.com/V12.5.1.0.RFKINXM/miui_RAPHAELININGlobal_V12.5.1.0.RFKINXM_0bfe71d0cd_11.0.zip" "https://bkt-sgp-miui-ota-update-alisgp.oss-ap-southeast-1.aliyuncs.com/OS3.0.4.0.WOJCNXM/rodin-ota_full-OS3.0.4.0.WOJCNXM-user-16.0-5c06cb9174.zip"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: K20Pro-HyperOS3-A16
          path: "*.zip"
